body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    position:relative;
    z-index:0;
    padding-bottom: 140px;
}

button:focus {
    outline:0
}

a {
    color: #00B7FF;
}

.form-control {
    width: 100%;
    height: auto;
}

.register-form {
    margin: 20px 50px 0 0;
    float: right;
}

.articles-news {

    z-index: 1;
    background-image:-webkit-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);

    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-top: 5px;
    padding: 0 10px 10px 10px;
    border: solid 1px #000000;
    border-radius: 25px;
}

.comments {
    width: auto;
    height: auto;
    padding-top: 10px;
    background: #FFFFFF;
    margin-left: 30px
}

.active:hover {
    background: #FF0000;
}

.active {
    background: #FF0000;
}

.add-notes {
    margin-top: 10px;
}

.content {
    margin-top: 70px;
    z-index: 1;
    position: relative;
    padding: 30px;
}

.like {
    float:right;
    font-size:1.5rem;
    font-weight:700;
    line-height: 1;
    color:#000;
    text-shadow:0 1px 0 #fff;
    opacity:.5;
    -webkit-appearance: none;
}

.like:hover {
    color:#000;
    text-decoration:none;
}

.like:not(:disabled):not(.disabled):focus,
.like:not(:disabled):not(.disabled):hover {
    opacity:.75;
}

button.like {
    padding:0;
    background-color:transparent;
    border:0;-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
a.like.disabled {
    pointer-events:none;
}

footer {
    width: 100%;
    height: 150px;
    color:#ccc;
    font-size:12px;

    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color:#31353a;

    background-image:-webkit-linear-gradient(top, #31353a, #2f3337);
    background-image:-moz-linear-gradient(top, #31353a, #2f3337);
    background-image:linear-gradient(top, #31353a, #2f3337);
}

footer > ul {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    padding-bottom: 60px;
    z-index:-1;
}

footer > ul > li {
    margin-top: 30px;
    width:25%;
    float:left;
}

footer ul{
    list-style: none;
}

/* The links */

footer > ul > li ul li {
    margin-left:43px;
    text-transform: uppercase;
    font-weight:bold;
    line-height:1.8;
}

footer > ul > li ul li a {
    text-decoration: none !important;
    color:#7d8691 !important;
}

footer > ul > li ul li a:hover{
    color:#ddd !important;
}

/* The company logo */

footer a.logo {
    color: #e4e4e4 !important;
    text-decoration: none !important;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    margin-left: 16px;
    display: inline-block;
    margin-top: 7px;
}

footer a.logo i {
    font-style: normal;
    position: absolute;
    width: 60px;
    display: block;
    left: 48px;
    top: 18px;
    font-size: 12px;
    color: #999;
}

footer a.logo:before {
    content: '';
    display: inline-block;
    width: 48px;
    height: 37px;
    vertical-align: text-top;
}

footer p {
    width: 90%;
    margin-right: 10%;
    padding: 9px 0;
    line-height: 18px;
    background-color: #058cc7;
    font-weight: bold;
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    opacity:0.9;
    cursor:default;

    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

footer > ul > li:hover p {
    opacity:1;
}

footer p:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 18px;
    margin: 0 12px 0 15px;
    vertical-align: text-bottom;
}

footer p.home {
    background-color: #0096d6;

    background-image:-webkit-linear-gradient(top, #0096d6, #008ac6);
    background-image:-moz-linear-gradient(top, #0096d6, #008ac6);
    background-image:linear-gradient(top, #0096d6, #008ac6);
}

footer p.home:before {
    background-position: 0 -110px;
}

footer p.services {
    background-color: #00b274;

    background-image:-webkit-linear-gradient(top, #00b274, #00a46b);
    background-image:-moz-linear-gradient(top, #00b274, #00a46b);
    background-image:linear-gradient(top, #00b274, #00a46b);
}

footer p.services:before {
    background-position: 0 -129px;
}

footer p.reachus {
    background-color: #d75ba2;

    background-image:-webkit-linear-gradient(top, #d75ba2, #c75496);
    background-image:-moz-linear-gradient(top, #d75ba2, #c75496);
    background-image:linear-gradient(top, #d75ba2, #c75496);
}

footer p.reachus:before {
    background-position: 0 -89px;
}

footer p.clients {
    background-color: #e9ac40;

    background-image:-webkit-linear-gradient(top, #e9ac40, #d89f3b);
    background-image:-moz-linear-gradient(top, #e9ac40, #d89f3b);
    background-image:linear-gradient(top, #e9ac40, #d89f3b);
}

footer p.clients:before {
    background-position: 0 -69px;
}
